@font-face {
  font-family: Proxima Nova;
  src: url(../fonts/ProximaNovaT-Thin.ttf); }
@font-face {
  font-family: Forever Brush Script;
  src: url(../fonts/Forever\ Brush\ Script\ Demo.ttf); }
* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

  .adaptive-page{
    overflow-y: hidden;
  }
header {
  padding-top: 40px;
  background: transparent;
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: space-around; }

.logo a {
  text-decoration: none;
  font-family: "Proxima Nova";
  color: #fff;
  font-size: 31px;
  font-weight: 400;
  line-height: 32px; }

.header-navigation {
  display: flex;
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 31px;
  font-weight: 400;
  line-height: 32px; }
  .header-navigation ul {
    display: flex;
    text-decoration: none; }
  .header-navigation li {
    /* padding-right: 50px; */
    list-style: none; }
  .header-navigation li:not(:last-of-type) {
    padding-right: 50px; }
  .header-navigation a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Proxima Nova A";
    font-size: 16px;
    font-weight: 400; }

.adaptive-menu {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
 }


.nav-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  background: #ffffff;
  transition: .5s;
  width: 30px;
 }

.nav-line:before, .nav-line:after{
	
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background-color: #fff;
	transition: .5s;
}
.nav-line:after{
   top: 10px;
   left: 0;
}

.nav-line:before{
  bottom: 10px;
  left: 0;
 }
 
.active{
	background-color: transparent;
}
 .active:before{
   top: 0;
   left: 0;
 	transform: rotate(135deg);
 }

 .active:after{
   top: 0;
   right: 0;
 	transform: rotate(-135deg);
 }



.main-background_img {
  background-position: center center;
  background-image: url("../img/bg_banner.png");
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  text-align: center;
  margin-top: 220px;
  color: #ffffff;
  font-family: "Proxima Nova T - Thin";
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase; }

.main-subtitle {
  margin-top: 50px;
  padding-bottom: 500px;
  display: flex;
  justify-content: center; }
  .main-subtitle h4 {
    width: 44%;
    text-align: center;
    color: #ffffff;
    font-family: "Proxima Nova A";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; }

.sushi-item {
  padding: 123px 5%;
  background-color: #962323;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sushi-item img {
  display: block;
  max-width: 100%;
  object-fit: cover; }

.title-h2 {
  color: #ffffff;
  font-family: "Forever Brush Script";
  font-size: 56px;
  font-weight: 400;
  line-height: 32px; }

.line {
  margin: 30px auto 50px;
  width: 108px;
  height: 2px; }

.white-line {
  background-color: #fff; }

.red-line {
  background-color: #c8235d; }

.sushi-text {
  margin-top: 56px;
  max-width: 508px;
  display: flex;
  flex-direction: column;
 }
  .sushi-text p {
    color: #ffffff;
    font-family: "Proxima Nova A";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; }

.singatures-recipes {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  }

.singatures-recipes-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  padding: 120px 0;
  text-align: center; }
  .singatures-recipes-item p {
    margin: 0px auto;
    width: 508px;
    color: #ffffff;
    font-family: "Proxima Nova A";
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; }

.our-menu {
  margin: 50px 0px; }

.our-menu span{
  display: block;
}
.our-menu-title {
  color: #000;
  display: flex;
  justify-content: center; }

.menu-grid-items {
  margin: 110px 20%;
  display: grid;
  grid-column-gap: 186px;
  grid-row-gap: 50px;
  grid-template-columns: repeat(2, 1fr); }

.menu-item {
  max-width: 460px; }

.dish-name {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between; }
  .dish-name h5 {
    color: #0b0c0d;
    font-family: "Proxima Nova A";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase; }
  .dish-name P {
    opacity: 0.7;
    color: #0b0c0d;
    font-family: "Proxima Nova A";
    font-size: 16px;
    font-weight: 400; }

.prise {
  color: #c8235d;
  font-family: "Proxima Nova A";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px; }

.support {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #25262a; }

.support-item {
  padding: 40px 20px 40px 0px;
  color: aliceblue; }
  .support-item h4, .support-item h5 {
    margin-bottom: 50px; }
  .support-item h4 {
    color: #ffffff;
    font-family: "Font Awesome 5 Brands Regular";
    font-size: 26px;
    font-weight: 400;
    line-height: 24px; }
  .support-item h5 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; }
  .support-item ul li {
    list-style: none; }
    .support-item ul li a {
      text-decoration: none;
      color: #ffffff;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 32px; }

.restaurant {
  max-width: 265px; }
  .restaurant P {
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }

.contact img {
  padding-right: 18px; }

footer {
  padding: 38px 0px 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #000; }
  footer ul li {
    list-style: none;
    display: inline-block; }
  footer a {
    text-decoration: none;
    color: #494a4c; }

.footer-nav{
	margin: 20px 0;
}
.footer-navigation li {
  padding: 0 25px; }
  .footer-navigation li a:hover {
    color: #fff; }

.footer-social-links li {
  padding: 0px 15px; }
  .footer-social-links li a {
    color: #bebbc6; }
    .footer-social-links li a:hover {
      color: #fff; }

@media screen and (max-width: 1460px) {
  .menu-grid-items {
    margin: 110px 10%;
    display: grid;
    grid-column-gap: 186px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 800px) {
  header{
    align-items: center;
    justify-content: space-around;
    position: relative
  }
  h1 {
    text-align: center;
    margin-top: 220px;
    color: #ffffff;
    font-family: "Proxima Nova T - Thin";
    font-size: 3rem;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase; }

  .main-subtitle {
    margin-top: 50px;
    padding-bottom: 500px;
    display: flex;
    justify-content: center; }
    .main-subtitle h4 {
      width: 80vw;
      text-align: center;
      color: #ffffff;
      font-family: "Proxima Nova A";
      font-size: 18px;
      font-weight: 400;
      line-height: 32px; }

  .title-h2 {

  
    font-family: "Forever Brush Script";
    font-size: 45px;
    font-weight: 400;
    line-height: 32px; }

  .header-navigation{
    display: none;
    padding-top: 6rem;
    justify-content: center;
    width: 100%;
    height: 1000px;
    /* display: none;  */
    background: rgba(0, 0, 0, 0.8);

   position: absolute;
   text-align: center;

   top: 0;
  }
  .header-navigation ul{
    display: flex;
    flex-direction: column;
  }
  .header-navigation li{
    margin: 0;
    padding-right: 0;
    
  }
  .header-navigation a{
   text-transform: uppercase;
    
  }
  .header-navigation li:not(:last-of-type) {
    padding: 15px 0px; }

  .adaptive-menu {
    display: flex; }

  .menu-grid-items {
    margin: 110px 40px;
    justify-content: center;
    display: grid;
    grid-column-gap: 186px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(1, 1fr); }

  .menu-item {
    max-width: 90vw; }

  .singatures-recipes-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 120px 0;
    text-align: center; }
    .singatures-recipes-item p {
      margin: 0px auto;
      width: 85vw; }

  footer {
    flex-direction: column;
    justify-content: center; }
.footer-navigation{

}
  .footer-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer-navigation li {
    padding: 10px 25px; }
    .footer-navigation li a:hover {
      color: #fff; } }


.footer-nav{
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 540px) {
  h1 {
    text-align: center;
    margin-top: 220px;
    color: #ffffff;
    font-family: "Proxima Nova T - Thin";
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase; } }

/*# sourceMappingURL=style.css.map */
@media screen and (max-width: 370px) {
h1 {
  font-size: 1.7rem;
  }
}