@media screen and (max-width: 1205px) {
  .portfolio .gallary-item {
    display: flex;
    justify-content: center;
    position: static; }
    .portfolio .gallary-item img {
      max-width: 100%;
      object-fit: cover;
      display: block; }
  .portfolio .portfolio-item__title {
    position: static; }
  .portfolio .portfolio__info p {
    line-height: 16px; }

  .diamond-portfolio-white__wrapper {
    top: 10%; }

  .diamond-black, .diamond-white {
    display: none; }

  .grey__tringle {
    display: none; }

  .top-header__nav {
    right: 0; }
    .top-header__nav ul {
      display: block;
      text-align: right;
      background-color: #f2f2f2; }
      .top-header__nav ul li {
        margin-bottom: 20px; } }
@media screen and (max-width: 1045px) {
  .brick-bg {
    padding-top: 685px; }

  .choose-us__blocks {
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 46px; }
    .choose-us__blocks .pattern img {
      transform: rotate(90deg); }
  .choose-us__item {
    margin: 30px auto; } }
@media screen and (max-width: 700px) {
  .brick-bg {
    padding-top: 350px; }
    .brick-bg .white__block {
      display: none; }

  .testimonials .pattern {
    display: flex;
    justify-content: center; }
    .testimonials .pattern img {
      transform: rotate(90deg); }

  .testimonials__blocks {
    flex-direction: column; }
    .testimonials__blocks .testimonial-item {
      max-width: 300px;
      margin: 0px auto; }

  .footer__contacts {
    justify-content: space-evenly; } }
@media screen and (max-width: 526px) {
  .logo {
    left: -50px;
    z-index: 999999; }

  .top-header__nav {
    background-color: #f2f2f2;
    display: flex;
    z-index: 9999;
    right: 0%; }
    .top-header__nav ul {
      margin-top: 100px;
      display: none;
      text-align: right;
      background: #f2f2f2;
      padding-right: -5%; }
      .top-header__nav ul li {
        padding: 0px 50px;
        margin-right: 0px;
        margin-bottom: 25px; }

  #menuToggle {
    right: 50px;
    display: flex; }

  .header-item__img {
    top: 160px; }

  .logo {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-top: 140px solid #019edb; }
    .logo__content {
      position: absolute;
      bottom: 80px;
      left: -63px; }
    .logo img {
      width: 120px;
      height: 40px; }

  .logo-subform {
    display: none; }

  .item-w__img {
    display: flex;
    justify-content: center;
    margin: 0px auto 40px; }

  .title-block {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #ffffff; }
    .title-block h2 {
      font-size: 27px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .title-block span {
      font-family: Lato;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.32px; }
    .title-block .diamond-block {
      z-index: -1;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translate(-50%, -50%); }
    .title-block .diamond-block__wrapper {
      position: relative; }
      .title-block .diamond-block__wrapper-item {
        position: absolute;
        top: -91px;
        left: 86px;
        transform: translate(-50%, -50%);
        color: #019edb;
        font-family: "Lato - Black";
        font-size: 65px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.55px; }

  .diamond-portfolio-white {
    position: static; }
    .diamond-portfolio-white img {
      display: none; }
    .diamond-portfolio-white__wrapper {
      background-color: #ffffff;
      padding: 40px;
      margin-top: -500px !important; } }

/*# sourceMappingURL=media.css.map */
